.div{
    border: 5px inset gray;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    max-width: 500px;
}

.div input{
    padding: 20px;
    width: 80%;
    margin: 10px;
    font-size: 20px;
}

.div button{
    padding: 10px 20px;
    margin: 10px 15%;
    border-radius: 50px;
    background-color: darkgrey;
    color: black;
    font-size: 20px;
    cursor: pointer;
    transition: all .5s linear;
}
.div button:hover{
    background-color: black;
    color: darkgray;
    box-shadow: 3px 3px 3px 3px #fff;
}

#text{
    border-radius: 10px;
    color: white;
    font-size: 20px;
    outline: none;
    border: 2px inset #fff;
    font-weight:500;
}
input::placeholder{
    color: white;
    font-size: 20px;
    font-weight:500;
}
p{
    font-size: 20px;
    font-weight: 500;
}

a{
    text-decoration: none;
    color: blue;
    font-size: 20px;
    font-weight: 500;
}

img{
    width: 200px;
    height: 200px;
    margin-left: 150px;
    border: 1px;
    border-radius: 10px;
}
